/* CSS Meyer Reset */
@import url(meyer-reset.css);

/* BOX-SIZING RESET */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#header {
  background-color: aquamarine;
}

#main {
  background-color: saddlebrown;
}

#sidebar {
  background-color: darkkhaki;
}
